                @media (min-width:667px) {
                    .header {
                        float: left;
                        position: relative;
                        width: 100px;
                    }
                }
                
                @media (max-width:667px) {
                    img {
                        width: calc(100% - 150px);
                    }
                    body {
                        width: 100%;
                    }
                }
                
                .header {
                    border-style: solid;
                    height: 200px;
                    border-radius: 20px;
                    margin: auto;
                }
                
                header div p {
                    text-align: center;
                    margin-top: 75px;
                }
                
                .surfing {
                    display: flex;
                    flex-direction: column;
                    flex-flow: row wrap;
                    position: relative;
                    min-width: 600px;
                    padding: 50px;
                }
                
                .surfing-image {
                    height: 250px;
                    flex: auto;
                }
                
                img {
                    border-radius: 20px;
                }